<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <title>{{ event.event_name }}</title>
   <link rel="stylesheet" type="text/css" href="/media/css/list.css" /> 
<head>
<body>
    <!-- title -->
    <div class="header" id="logo"> 
        <a href="/event_mgmt/{{event.id}}/{{event.event_name_id}}"><img src="/media/img/title.png" width="640" height="100" alt="book share" /></a>
    </div>
    <p class="event_title" id = "event_title"> 
        {{ event.event_name }} 
    </p>
    <div id ="event"> {{ event.description }} </dev>
    <br>
    <center>
	<!-- list -->
    <div class="event_table"> 
    <table cellspacing="0" id="event_table_list"> 
        <thead> 
            <th> Name</th>
            {% for d in event.dates.all %}
                <th>{{d.date}}</th>
            {% endfor %}
            <th> Comment</th>
        </thead> 
        <tbody>  
        {% for person in event.persons.all %}
            <tr>
            <td>{{ person.name }}</td>
            {% for d in person.availables.all %}
                <th>{{d.available}}</th>
            {% endfor %}
            <td>{{ person.comment }}</td>
        {% endfor %}
        </tbody> 
    </table> 
    </div> 
    <br>
    <!-- input form -->
    <div class="person_form" id="form">
    <form action="/event_mgmt/{{event.id}}/{{event.event_name_id}}" method="POST">
        <div class="fieldWrapper">
            {{ form.name.errors }}
            <label for="id_subject">Name:</label>
            {{ form.name }}
        </div>
        <div class="fieldWrapper">
            {% for d in event.dates.all %}
				{{ d.date }}
			 	<select name='availables'>
    				<option>◯</option>
    				<option>△</option>
				    <option>×</option>
			  	</select>
			{% endfor %}
        </div>
        <div class="fieldWrapper">
            <label for="id_message">Comment:</label>
            {{ form.comment }}
        </div>
        <div>
        	<input type="submit" name="register" value="Register" />
        	<input type="submit" name="edit" value="Edit" />
        	<input type="submit" name="delete" value="Delete" />
        </div>
</form>

    </center>

<br>
<div id=create_event>
	<a href="/event_mgmt/create_event">Create New Event</a> 
</div>

</body>
</html>