<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <title>Your created event</title>
   <link rel="stylesheet" type="text/css" href="/media/css/list.css" /> 
<head>
<body>
    <!-- title -->
    <div class="header" id="logo"> 
        <a href="/event_mgmt/create_event"><img src="/media/img/logo.png" width="640" height="100" alt="book share" /></a>
    </div>
	<div id="show_event">
    <div> Your created Event is </dev>
    <br>
    <div id="event"> 
        Event Name : {{ event.event_name }} <br>
        Event Dates : {{ event.dates_str }} <br>
        Description : {{ event.description }} <br>
    <br>
	</dev>
	   <a href="http://127.0.0.1:8012/event_mgmt/{{ event.id }}/{{ event.event_name_id }}"> Go to Event Page</a>
    </div>
</body>
</html>